body {
  background: white;
  overflow: hidden;
  font-family: 'Montserrat';
}

#wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: 800;
}

span {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 500;
  color: #55ACEE;
  float: right;
  margin-top: 1vh;
}

#start-btn {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 20px 40px;
  transition: all 0.25s ease;
  cursor: pointer;
  margin-top: 5vh;
}

#start-btn:hover {
  background-color: black;
  color: white;
}